.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation___91XMe:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__u2I2 {
  object-fit: cover;
  width: 40px;
}
.img__u2I2 > picture > img {
  object-fit: cover;
}
.img__u2I2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.button__bgSp:global(.__wab_instance) {
  position: relative;
}
.svg__mM3Cl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__n05Wi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__k2Rc:global(.__wab_instance) {
  position: relative;
}
.svg__vg2D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__fYfNx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__zsDbq:global(.__wab_instance) {
  position: relative;
}
.svg__nppUs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg___9Uad2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__pPTc:global(.__wab_instance) {
  position: relative;
}
.svg__gn0BF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__hrJbr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__vDuMt:global(.__wab_instance) {
  position: relative;
}
.svg__d4FRn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__hjCoB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__z60Ss:global(.__wab_instance) {
  position: relative;
}
.svg__lGxF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__mSoi4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 512px;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1920px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__pa67R {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__pa67R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pa67R > :global(.__wab_flex-container) > *,
.freeBox__pa67R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pa67R > :global(.__wab_flex-container) > picture > img,
.freeBox__pa67R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kd1I3 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kd1I3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kd1I3 > :global(.__wab_flex-container) > *,
.freeBox__kd1I3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kd1I3 > :global(.__wab_flex-container) > picture > img,
.freeBox__kd1I3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__afdnX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__quc0T {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-LR4XAI-kupmd);
  background: #ffffff;
  padding: 4px 8px;
}
.text__p5DVy {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-QkoDPcKK_h86);
}
.text__dFR6 {
  font-size: 20px;
  color: var(--token-LR4XAI-kupmd);
  line-height: 28px;
}
.freeBox__hzqpT {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hzqpT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hzqpT > :global(.__wab_flex-container) > *,
.freeBox__hzqpT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hzqpT > :global(.__wab_flex-container) > picture > img,
.freeBox__hzqpT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__x8GEy:global(.__wab_instance) {
  position: relative;
}
.svg__jH4IK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.text__qyLhE {
  height: auto;
}
.svg__b8W3G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__nz3Qh:global(.__wab_instance) {
  position: relative;
}
.svg__jtKVr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.text__minCm {
  height: auto;
  font-weight: 400;
}
.svg__tEuOp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.freeBox__xmCk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__xmCk > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xmCk > :global(.__wab_flex-container) > *,
.freeBox__xmCk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xmCk > :global(.__wab_flex-container) > picture > img,
.freeBox__xmCk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___5JBhu {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__eEo1 {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__eEo1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eEo1 > :global(.__wab_flex-container) > *,
.freeBox__eEo1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eEo1 > :global(.__wab_flex-container) > picture > img,
.freeBox__eEo1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wbTz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wbTz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wbTz > :global(.__wab_flex-container) > *,
.freeBox__wbTz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wbTz > :global(.__wab_flex-container) > picture > img,
.freeBox__wbTz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__u9CZk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__szf8P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__jdJ0J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.button__pZve:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__tEeqB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__yqopV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.freeBox__y8YIi {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__y8YIi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__y8YIi > :global(.__wab_flex-container) > *,
.freeBox__y8YIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y8YIi > :global(.__wab_flex-container) > picture > img,
.freeBox__y8YIi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__lVsiH:global(.__wab_instance) {
  position: relative;
}
.divider__goK8E:global(.__wab_instance) {
  position: relative;
}
.freeBox__liZfg {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__liZfg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__liZfg > :global(.__wab_flex-container) > *,
.freeBox__liZfg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__liZfg > :global(.__wab_flex-container) > picture > img,
.freeBox__liZfg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__vr9W:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ghn0L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
}
.svg__zn3FV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-l6sn4I48XlVX);
}
.divider__iQnhf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__frUn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-TX4VcwIvZ2aL);
  padding: 32px;
}
.text__iYeVc {
  position: relative;
  color: var(--token-LR4XAI-kupmd);
}
