.root {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootstartIcon {
  display: flex;
}
.rootcolors_green {
  background: #34c759;
}
.rootcolors_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolors_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolors_indigo > :global(.__wab_flex-container) > *,
.rootcolors_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolors_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolors_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolors_blue {
  background: var(--token-6QO1a0Z11Qxo);
}
.rootcolors_red {
  background: var(--token-g7lmcVhfBrrm);
}
.rootcolors_white {
  background: var(--token-krVhVRW-JWyh);
}
.rootcolors_oxfordBlue {
  background: var(--token-H5vHR87hJ);
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootnoGap > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootnoGap > :global(.__wab_flex-container) > *,
.rootnoGap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootnoGap > :global(.__wab_flex-container) > picture > img,
.rootnoGap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootnoLabel {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootouline {
  border: 1px solid var(--token-qMDtXvsy2Vu2);
}
.rootdarkGray {
  background: var(--token-QkoDPcKK_h86);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.root:hover {
  background: var(--token-t8EyrlCsgHxb);
}
.rootcolors_indigo:hover {
  background: #5e5ce6;
}
.rootlinkLabel:hover {
  background: none;
}
.rootdarkGray:hover {
  background: var(--token-LR4XAI-kupmd);
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.svg___2QSwx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
  flex-shrink: 0;
}
.slotTargetSlot {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.slotTargetSlotcolors_green {
  color: var(--token-krVhVRW-JWyh);
}
.slotTargetSlotcolors_indigo {
  color: var(--token-krVhVRW-JWyh);
}
.slotTargetSlotcolors_blue {
  color: var(--token-krVhVRW-JWyh);
}
.slotTargetSlotcolors_red {
  color: var(--token-krVhVRW-JWyh);
}
.slotTargetSlotcolors_oxfordBlue {
  color: var(--token-krVhVRW-JWyh);
}
.slotTargetSlotlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetSlotlinkLabel {
  font-weight: 400;
  color: #007aff;
}
.slotTargetSlotnavLink {
  font-weight: 400;
  color: var(--token-LR4XAI-kupmd);
}
.slotTargetSlotdarkGray {
  color: var(--token-9WHHuUZ-wxi3);
}
.slotTargetSlotdark {
  color: var(--token-9WHHuUZ-wxi3);
}
.rootnavLink:hover .slotTargetSlotnavLink {
  color: var(--token-QkoDPcKK_h86);
}
.rootnavLink:hover .slotTargetSlotnavLink > :global(.__wab_text),
.rootnavLink:hover .slotTargetSlotnavLink > :global(.__wab_slot-string-wrapper),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootnavLink:hover
  .slotTargetSlotnavLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.svg__cJHqH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-LR4XAI-kupmd);
  flex-shrink: 0;
}
