.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  min-height: 512px;
}
.freeBox__qmWfb {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qmWfb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qmWfb > :global(.__wab_flex-container) > *,
.freeBox__qmWfb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qmWfb > :global(.__wab_flex-container) > picture > img,
.freeBox__qmWfb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__lPxLd {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__lPxLd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lPxLd > :global(.__wab_flex-container) > *,
.freeBox__lPxLd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lPxLd > :global(.__wab_flex-container) > picture > img,
.freeBox__lPxLd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mveo {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: QkoDPcKK_h86 */;
}
.freeBox__h4MyD {
  font-size: 20px;
  color: #000000 /* plasmic-token: SyiZADrf8QQi */;
  line-height: 28px;
  font-weight: 700;
}
.freeBox__gtrar {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gtrar > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gtrar > :global(.__wab_flex-container) > *,
.freeBox__gtrar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtrar > :global(.__wab_flex-container) > picture > img,
.freeBox__gtrar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___3VkpS:global(.__wab_instance) {
  position: relative;
}
.svg___05Imd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__rkGd3 {
  height: auto;
}
.svg__py9Oy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.button__iD4Qh:global(.__wab_instance) {
  position: relative;
}
.svg__r3DuU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__fl2Cm {
  height: auto;
  font-weight: 400;
}
.svg__womkt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__yAqDz {
  object-fit: cover;
  width: 100px;
}
.img__yAqDz > picture > img {
  object-fit: cover;
}
.img__yAqDz > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yAqDz {
    width: 90px;
  }
}
.button__bRE:global(.__wab_instance) {
  position: relative;
}
.svg___4X8Ba {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__lqUf3 {
  color: #000000 /* plasmic-token: SyiZADrf8QQi */;
  font-weight: 700;
}
.svg__wZKtY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.button__dfVV:global(.__wab_instance) {
  position: relative;
}
.svg__scUzc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__kwcpo {
  color: #000000 /* plasmic-token: SyiZADrf8QQi */;
  font-weight: 700;
}
.svg__bi5F7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.button__dN5Vc:global(.__wab_instance) {
  position: relative;
}
.svg__dZype {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox___059VL {
  color: #000000 /* plasmic-token: SyiZADrf8QQi */;
  font-weight: 700;
}
.svg___5BsU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.button__qkLeh:global(.__wab_instance) {
  position: relative;
}
.svg___3PPh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.svg___5Grd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__t72Kq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__tz9K9 {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox__tz9K9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tz9K9 > :global(.__wab_flex-container) > *,
.freeBox__tz9K9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tz9K9 > :global(.__wab_flex-container) > picture > img,
.freeBox__tz9K9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__o6M6M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: QkoDPcKK_h86 */;
  line-height: 1;
  transition-property: all;
  transition-duration: 1s;
}
.freeBox__pdq14 {
  font-size: 20px;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
  text-align: left;
  line-height: 28px;
  height: auto;
}
.freeBox__c7Sdb {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__c7Sdb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__c7Sdb > :global(.__wab_flex-container) > *,
.freeBox__c7Sdb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c7Sdb > :global(.__wab_flex-container) > picture > img,
.freeBox__c7Sdb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__tMcJq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tMcJq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__tMcJq > :global(.__wab_flex-container) > *,
.freeBox__tMcJq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tMcJq > :global(.__wab_flex-container) > picture > img,
.freeBox__tMcJq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tMcJq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tMcJq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tMcJq > :global(.__wab_flex-container) > *,
  .freeBox__tMcJq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tMcJq > :global(.__wab_flex-container) > picture > img,
  .freeBox__tMcJq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop___0Mu23:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bjiu7 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__x0H1A {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: krVhVRW-JWyh */;
}
.valueprop__kdVu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7YbBo {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__fHgdt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: krVhVRW-JWyh */;
}
.valueprop__fPXmZ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__whoaH {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__liIJz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: krVhVRW-JWyh */;
}
.valueprop__az6Tr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hkQmM {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ozpJn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: krVhVRW-JWyh */;
}
.freeBox__ooYvO {
  height: auto;
}
.freeBox___39ReI {
  position: relative;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
}
.tableCommands:global(.__wab_instance) {
  position: relative;
  width: 100px;
}
.boomboxBottomInvite:global(.__wab_instance) {
  position: relative;
}
.img__mVcIh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__mVcIh > picture > img {
  object-fit: cover;
}
.img__mVcIh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__luMkU {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__luMkU > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__luMkU > :global(.__wab_flex-container) > *,
.freeBox__luMkU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__luMkU > :global(.__wab_flex-container) > picture > img,
.freeBox__luMkU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__luMkU > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    align-content: unset;
  }
}
.freeBox__rQbE {
  font-size: 48px;
  font-weight: 800;
  color: #ffffff /* plasmic-token: krVhVRW-JWyh */;
  line-height: 1;
}
.freeBox__jsnUb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jsnUb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jsnUb > :global(.__wab_flex-container) > *,
.freeBox__jsnUb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jsnUb > :global(.__wab_flex-container) > picture > img,
.freeBox__jsnUb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__s28Xb:global(.__wab_instance) {
  position: relative;
}
.svg__sYgzE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.svg__negcK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.footer:global(.__wab_instance) {
  position: relative;
}
