.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(68, 192, 255, 0.2);
  width: 792px;
  height: 81px;
  position: relative;
}
.freeBox___7Yr39 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  flex-shrink: 0;
}
.slotChildren {
  font-size: 30px;
  font-weight: 600;
}
.freeBox__sQhNj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 258px;
  flex-shrink: 0;
}
.slotSlot {
  font-size: 30px;
  font-weight: 600;
}
.slotSlot2 {
  font-size: 30px;
  font-weight: 600;
}
