.root {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #000000;
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.foreground {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 960px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___2FsNu {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___2FsNu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2FsNu > :global(.__wab_flex-container) > *,
.freeBox___2FsNu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2FsNu > :global(.__wab_flex-container) > picture > img,
.freeBox___2FsNu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__bjChx {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
.h2__poZY {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
  line-height: 1;
}
.freeBox__rOrf {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: l6sn4I48XlVX */;
  line-height: 28px;
  height: auto;
}
.button___9R4J4:global(.__wab_instance) {
  position: relative;
}
.svg__vzmx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #050505b0 /* plasmic-token: LR4XAI-kupmd */;
}
.freeBox__wll1D {
  color: #0a84ff /* plasmic-token: Rutm2GQ_bP_E */;
}
.svg___4I5Nk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: Rutm2GQ_bP_E */;
}
.freeBox__j6YH {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__mYUb:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__egYl4 {
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
}
.svg__vr6U3 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
.listItem__afQiL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dGQq7 {
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
}
.svg__pn8Pv {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
.listItem__vwVjx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pfbqs {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
}
.svg__vZycM {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
.listItem__eaje9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__wGqIo {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
}
.svg__mdC1S {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
.listItem___1JhC:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nav1E {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 9WHHuUZ-wxi3 */;
}
.svg__rhvgs {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: a7qArW4whh2_ */;
}
