.root {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 128px 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-krVhVRW-JWyh);
  padding: 64px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    padding: 0px;
  }
}
.freeBox__zic8U {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox__zic8U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zic8U > :global(.__wab_flex-container) > *,
.freeBox__zic8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zic8U > :global(.__wab_flex-container) > picture > img,
.freeBox__zic8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9ITi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__h70UA {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-QkoDPcKK_h86);
  line-height: 1;
}
.text__fG99 {
  font-size: 20px;
  color: var(--token-LR4XAI-kupmd);
  text-align: left;
  line-height: 28px;
}
.freeBox__eCeyJ {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__eCeyJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__eCeyJ > :global(.__wab_flex-container) > *,
.freeBox__eCeyJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eCeyJ > :global(.__wab_flex-container) > picture > img,
.freeBox__eCeyJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__gawi8 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__gawi8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__gawi8 > :global(.__wab_flex-container) > *,
.freeBox__gawi8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gawi8 > :global(.__wab_flex-container) > picture > img,
.freeBox__gawi8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.valueprop__orthF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wnOsd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__kKsj3 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.valueprop__ezMry:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___39XHx {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___50NlZ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.valueprop__y0LyX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___1VPhg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ag4Yi {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.valueprop__swOOt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2XO04 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__jeEY {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.text__uLXvB {
  height: auto;
}
.freeBox__nSiNr {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__nSiNr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nSiNr > :global(.__wab_flex-container) > *,
.freeBox__nSiNr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nSiNr > :global(.__wab_flex-container) > picture > img,
.freeBox__nSiNr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__sUf5X {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sUf5X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__sUf5X > :global(.__wab_flex-container) > *,
.freeBox__sUf5X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sUf5X > :global(.__wab_flex-container) > picture > img,
.freeBox__sUf5X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
.valueprop__czZyf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hwb4J {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__nbikC {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.text__eJIl5 {
  height: auto;
}
.valueprop___0Vj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ctD6I {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ifZmO {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.valueprop__t2Qsz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fuf9J {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__n4VXa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
.valueprop___13AxT:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2NXrf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__r3QbN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-krVhVRW-JWyh);
}
